:root {
  --color-blue-light: rgb(157, 188, 220);
  --color-blue-dark: rgb(167, 175, 221);
  --color-green: rgb(157, 220, 160);
  --color-purple: rgb(208, 153, 213);
  --color-pink: rgb(230, 158, 158);
  --color-brown: rgb(208, 164, 142);
  --color-yellow: rgb(242, 234, 160);
  --color-orange: rgb(251, 203, 140);
}

$device-large: 75em;
$device-medium: 56.25em;
$device-small: 37.5em;
$device-tiny: 28.125em;
