@keyframes orbit {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulsate {
  0% {
    width: 11rem;
    box-shadow: 0 1rem 3rem rgba(#000, 0.2);
  }

  50% {
    width: 11.5rem;
    box-shadow: 0 2rem 4rem rgba(#000, 0.2);
  }

  100% {
    width: 11rem;
    box-shadow: 0 1rem 3rem rgba(#000, 0.2);
  }
}
