@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes glitch {
  0% {
    filter: drop-shadow(0.5rem 0.4rem var(--color-red))
      drop-shadow(-0.5rem -0.6rem var(--color-blue-light));
  }

  25% {
    filter: drop-shadow(-0.5rem -0.6rem var(--color-red))
      drop-shadow(0.5rem 0.4rem var(--color-blue-light));
  }

  50% {
    filter: drop-shadow(0.5rem -0.4rem var(--color-red))
      drop-shadow(-0.8rem 0.4rem var(--color-blue-light));
  }

  75% {
    filter: drop-shadow(-0.8rem -0.4rem var(--color-red))
      drop-shadow(-0.5rem -0.4rem var(--color-blue-light));
  }

  100% {
    filter: drop-shadow(-0.5rem 0 var(--color-red))
      drop-shadow(0.5rem -0.4rem var(--color-blue-light));
  }
}

@keyframes scroll-circle {
  from {
    top: 1rem;
  }

  to {
    top: 1.2rem;
  }
}

@keyframes scroll-arrow {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes orbit {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes pulsate {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.03);
  }
}

@keyframes show {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

$num-of-items: 8;
@keyframes orbit-setup-1 {
  to {
    transform: translate(-50%, -50%)
      rotate(calc(360 / $num-of-items) * 1 * 1deg) translateY(var(--distance));
  }
}
@keyframes orbit-setup-2 {
  to {
    transform: translate(-50%, -50%)
      rotate(calc(360 / $num-of-items) * 2 * 1deg) translateY(var(--distance));
  }
}
@keyframes orbit-setup-3 {
  to {
    transform: translate(-50%, -50%)
      rotate(calc(360 / $num-of-items) * 3 * 1deg) translateY(var(--distance));
  }
}
@keyframes orbit-setup-4 {
  to {
    transform: translate(-50%, -50%)
      rotate(calc(360 / $num-of-items) * 4 * 1deg) translateY(var(--distance));
  }
}
@keyframes orbit-setup-5 {
  to {
    transform: translate(-50%, -50%)
      rotate(calc(360 / $num-of-items) * 5 * 1deg) translateY(var(--distance));
  }
}
@keyframes orbit-setup-6 {
  to {
    transform: translate(-50%, -50%)
      rotate(calc(360 / $num-of-items) * 6 * 1deg) translateY(var(--distance));
  }
}
@keyframes orbit-setup-7 {
  to {
    transform: translate(-50%, -50%)
      rotate(calc(360 / $num-of-items) * 7 * 1deg) translateY(var(--distance));
  }
}
@keyframes orbit-setup-8 {
  to {
    transform: translate(-50%, -50%)
      rotate(calc(360 / $num-of-items) * 8 * 1deg) translateY(var(--distance));
  }
}

@keyframes form-label-slide-show {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(0);
  }

  50% {
    opacity: 0.5;
    visibility: visible;
    transform: translateX(-120%);
  }

  100% {
    opacity: 100;
    visibility: visible;
    transform: translateX(-120%);
  }
}

@keyframes form-label-slide-hide {
  0% {
    opacity: 100;
    visibility: visible;
    transform: translateX(-120%);
  }

  50% {
    opacity: 0.5;
    visibility: visible;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(0);
  }
}

@keyframes bubble {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1.2, 0.8);
  }

  50% {
    transform: scale(0.8, 1.2);
  }

  75% {
    transform: scale(1.1, 0.9);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes bubble-out {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1.2, 0.8);
  }

  50% {
    transform: scale(0.8, 1.2);
  }

  75% {
    transform: scale(1.1, 0.9);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes blur {
  from {
    filter: blur(3px);
  }

  to {
    filter: blur(0);
  }
}
