@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin grid-center {
  display: grid;
  place-items: center;
}

@mixin orbit-setup($i) {
  @if $i == 1 {
    animation: orbit-setup-1 1s linear 1500ms + 300ms * 1 forwards;
  } @else if $i == 2 {
    animation: orbit-setup-2 1s linear 1500ms + 300ms * 2 forwards;
  } @else if $i == 3 {
    animation: orbit-setup-3 1s linear 1500ms + 300ms * 3 forwards;
  } @else if $i == 4 {
    animation: orbit-setup-4 1s linear 1500ms + 300ms * 4 forwards;
  } @else if $i == 5 {
    animation: orbit-setup-5 1s linear 1500ms + 300ms * 5 forwards;
  } @else if $i == 6 {
    animation: orbit-setup-6 1s linear 1500ms + 300ms * 6 forwards;
  } @else if $i == 7 {
    animation: orbit-setup-7 1s linear 1500ms + 300ms * 7 forwards;
  } @else if $i == 8 {
    animation: orbit-setup-8 1s linear 1500ms + 300ms * 8 forwards;
  }
}
