.container {
  display: grid;
  // prettier-ignore
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: [hero-start] 100vh [hero-end projects-start] auto [projects-end about-start] auto [about-end contact-start] auto [contact-end footer-start] auto [footer-end];
}
